<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Home page">
    <meta name="keywords" content="fine perfume company">
    <title>
        {% block title %}
            Essenvian
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static '' %}">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
</head>
<body>
    <main>
        
        {% block content %}
            
        {% endblock content %}
    </main>
    <footer>
        <p>&copy: Essenvian</p>
    </footer>
</body>
</html>