{% extends 'home/base.html' %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <header>
        <div class="container">
            <nav class="navbar">
            <figure class="navbar__logo"><span>ESSENVIAN</span></figure>
            <ul class="navbar__list">
                <li class="navbar__item"><a href="#" class="navbar__link">Home</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Contact Us</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">About Us</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Credits</a></li>
            </ul>
        </nav>
        </div>
    </header>
{% endblock content %}